/* FRADM font*/
@font-face {
  font-family: "Fradm";
  src: url("assets/fonts/FRADM.TTF") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Fradm";
  src: url("assets/fonts/FRADM.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Fradm";
  src: url("assets/fonts/FRADM.TTF") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Fradm";
  src: url("assets/fonts/FRADM.TTF") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Fradm";
  src: url("assets/fonts/FRADM.TTF") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Fradm";
  src: url("assets/fonts/FRADM.TTF") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Fradm";
  src: url("assets/fonts/FRADM.TTF") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* custom properties */
:root {
  --primary-gray: #485562;
  --light-gray: #A2A8AE;
  --dark: #181C20;
  --light: #fff;
}

/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fradm";
  font-weight: 400;
}
p {
  margin-bottom: 0;
}
/* header & bootstrap nav */
.header {
  margin-top: 16px;
  margin-bottom: 35px;
}
.navbar-nav {
  gap: 70px;
}
.navbar-nav li a {
  text-decoration: none;
  color: var(--primary-gray);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}

/* slider */
.home-slider div {
  width: 100%;
  height: auto;
  position: relative;
}
.home-slider div img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slick-dots { 
  display: flex;
  justify-content: center;
  position: static;
  margin: 35px 0 35px;
}
.slick-dots li { 
  padding: 0;
  margin: 0;
  width:14px
}

.slide-wrapper { 
  position: relative;
}
.prev { 
  position: absolute;
  top: 45%; 
  left: 35px;
  transform: translateY(-50%);
}
.next { 
  position: absolute;
  top: 45%; 
  right: 35px;
  transform: translateY(-50%);
}
.prev, .next { 
  cursor: pointer;
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--dark);
  border-radius: 100%;
}
.prev img, .next img { 
  width: 24px;
  height: 24px;
}

/* home projects */
.home-subtitle { 
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: -3%;
  font-weight: 400;
  margin-bottom: 35px;
  color: var(--light-gray);
}
.home-subtitle span {
  color: var(--dark);
}
.home-projects {
  margin-bottom:16px;
}
.project-card {
  width: 100%;
  display: flex;
  flex-direction: column; 
}
.project-card  > img { 
  max-width: 100%;
  height: auto;
}
.project-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin-top: 14px;
}
.project-link p { 
  color: var(--primary-gray);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin: auto 0;
  display: flex;
  align-items: center;
  gap:4px;
}
.project-link span{ 
  font-size: 17px;
}
.project-link a {
  display: flex;
  align-items: baseline;
}
/* footer */
.footer { 
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
  color: var(--primary-gray);
  font-size: 13px;
  letter-spacing: 2%;
  line-height: 16px;
}
.socials { 
  display:flex;
  gap:25px;
  margin-bottom: 18px;
}
.socials > a > img { 
  width: 27px;
  height: 27px;
}
.footer p { 
  text-transform: uppercase;
}
.contact-info { 
  margin-bottom: 20px;
}
.address-info { 
  margin-bottom :44px;
}
.all-rights { 
  margin-bottom: 33px;
}
.all-rights a { 
  color: var(--primary-gray);
}


/* Responsive 1200px */
@media (max-width: 1200px) {
  .navbar-nav {
    gap: 40px;
  }
}

/* Responsive 992px */
@media (max-width: 992px) {
  .navbar-nav {
    gap: 20px;
    margin-top: 30px;
  }
}

/* Responsive 576px */
@media (max-width: 576px) {
  .home-projects {
    gap: 30px;
  }
}