@font-face {
  font-family: "franklin-gothic";
  src: url("../fonts/franklingothic_demi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "franklin-gothic";
  font-weight:normal;
}
